body{
    background-size: cover;
    background-position: center;
}


.heading
{
font-size: 45px;
width: 100%;
margin: 0px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttons{
    margin-top: 30px;
    font-size: 25px;
    font-family: initial;
    width: 210px;
    height: 70px;
    border: 3px 3px 3px rgb(240, 128, 175);
}